<div class="rr">
  <div class="name"><%= ns.name -%></div>
  <div class="ttl"><%= ns.ttl -%></div>
  <div class="cls"><%= ns.cls -%></div>
  <div class="type"><%= ns.type -%></div>
  <div class="nsdname"><%= ns.nsdname -%></div>
</div>
