<div class="rr">
  <div class="name"><%= soa.name -%></div>
  <div class="ttl"><%= soa.ttl -%></div>
  <div class="cls"><%= soa.cls -%></div>
  <div class="type"><%= soa.type -%></div>
  <div class="mname"><%= soa.mname -%></div>
  <div class="rname"><%= soa.rname -%></div>
  <div class="serial"><%= soa.serial -%></div>
  <div class="refresh"><%= soa.refresh -%></div>
  <div class="retry"><%= soa.retry -%></div>
  <div class="expire"><%= soa.expire -%></div>
  <div class="minimum"><%= soa.minimum -%></div>
</div>
