<div class="rr">
  <div class="name"><%= mx.name -%></div>
  <div class="ttl"><%= mx.ttl -%></div>
  <div class="cls"><%= mx.cls -%></div>
  <div class="type"><%= mx.type -%></div>
  <div class="preference"><%= mx.preference -%></div>
  <div class="exchange"><%= mx.exchange -%></div>
</div>
