<div class="rr">
  <div class="name"><%= a.name -%></div>
  <div class="ttl"><%= a.ttl -%></div>
  <div class="cls"><%= a.cls -%></div>
  <div class="type"><%= a.type -%></div>
  <div class="address"><%= a.address -%></div>
</div>
